

.registerForm {
    /* width: 500px;  */
    flex: 1; 
}

.container {
    height: min(100vh, 100%); 
    display: flex;
}

.splashBanner {
    display: flex; 
    flex-direction: column;
    padding: 20vh 4vw; 

}